    @import "~bootstrap/scss/bootstrap";
    @import '@fortawesome/fontawesome-free';
    // @import '../vendors/intl-tel-input/css/demo.css';
    @import '../vendors/intl-tel-input/css/intlTelInput.scss';
    // fullCalendar
    @import '@fullcalendar/common/main.css';
    @import '@fullcalendar/daygrid/main.css';
    // Vendor

    @import "../vendors/styles/fullcalendar.scss";
    // @import "../vendors/styles/icon-font.min.css";
    // Media
    @import "../src/styles/style.css";
    // SCSS Files
    // @import "./admin/vendors/css/vendor.bundle.base";
    // @import '~intl-tel-input/src/css/intlTelInput';
    // @import "./star-rating.min.css";
    @import "./jobs.scss";
    @import "./fullcalendar.print.scss";
    @import "./registration.scss";
    @import "./fullcalendar.scss";
    @import "./datepicker.scss";
    @import "./side.css";
    img {
        max-width: 100%;
        height: auto;
    }
    
    .brand-logo,
    .navbar-brand {
        img {
            display: block;
            max-width: 10rem;
            margin: 0 auto;
        }
    }
    .job-mark p{
       .big-mark{
        font-size: 25px;
       }
    }
    #bilan{
        p{
            font-size: 20px;
        }
    }

    .fas.fa-star {
        color: yellow;
    }
    
    .brand-logo a:hover {
        background: none;
    }
    
    .sidebar-menu .dropdown-toggle {
        text-decoration: none;
    }
    
    .text-right .btn-primary {
        border-radius: 50px;
        padding: 0.5rem 1.5rem;
    }
    
    .left-side-bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 280px;
        height: 100vh;
        z-index: 1000;
        background: #17a2b8;
        transition: all 0.3s ease-in-out;
    }
    
    .form-box {
        background: #fff;
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
        // margin: 2rem;
        padding: 2rem 2rem 3rem;
        td {
            .text-primary {
                font-size: 18px;
            }
        }
    }
    
    // .fc-toolbar-title {
    //     text-transform: capitalize !important;
    // }
    input[type="submit"].btn-block,
    input[type="reset"].btn-block,
    input[type="button"].btn-block {
        width: 100%;
        max-width: 280px;
        background: #6eb72b;
        color: #fff;
        border-radius: 100px;
        margin: 0 auto;
    }
    
    .profile-detail {
        p {
            font-size: 22px;
        }
    }

    a.btn.disabled, fieldset:disabled a.btn {
        pointer-events: auto;
    }

    .disabled{
        cursor: not-allowed !important;
    }
    
    .form-height {
        height: 100vh !important;
        display: flex;
        align-items: center;
    }
    
    table {
        .badge {
            padding: 0.5rem !important;
        }
       td{
        vertical-align: middle;
       }
    }
    
    #validation-page p {
        font-size: 20px;
        line-height: 2;
    }
    
    .pricing-msg {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 200;
    }
    
    .action {
        a {
            padding: 0.5rem !important;
        }
    }
    
    .table-plus {
        img {
            width: 50px;
            height: 50px;
        }
    }
    
    .txt-center {
        text-align: center;
    }
    
    .hide {
        display: none;
    }
    
    .clear {
        float: none;
        clear: both;
    }
    
    .rating {
        width: 100%;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        position: relative;
    }
    
    .rating>label {
        display: inline;
        padding: 0;
        margin: 0;
        position: relative;
        width: 1.1em;
        cursor: pointer;
        color: #000;
        font-size: 40px;
    }
    
    .rating>label:hover,
    .rating>label:hover~label,
    .rating>input.radio-btn:checked~label {
        color: transparent;
    }
    
    .rating>label:hover:before,
    .rating>label:hover~label:before,
    .rating>input.radio-btn:checked~label:before,
    .rating>input.radio-btn:checked~label:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: #FFD700;
    }
    
    .btn-outline-primary:hover {
        color: #007bff !important;
    }
    
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid #000000;
        border-right: 4px solid transparent;
        border-bottom: 0 dotted;
        border-left: 4px solid transparent;
        content: "";
    }
    
    .dropdown.show>.dropdown-toggle::after {
        content: "" !important;
    }
    
    .equal-row {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    
    .footer {
        background: #f5f5f5;
        color: #333;
        padding: 1rem 0 0;
        margin-top: 3rem;
    }
    
    .table th,
    .table td {
        vertical-align: initial !important;
    }
    
    .stable-height {
        min-height: calc(100vh - 180px);
    }
    
    #jobs-calendar {
        .legend {
            list-style: none;
            float: left;
            width: 100%;
            li {
                margin: 0.5rem;
                display: inline-block;
            }
        }
        .legend span {
            border: 1px solid #ccc;
            float: left;
            width: 12px;
            height: 12px;
            margin: 4px;
        }
        /* your colors */
        .legend {
            text-align: center;
            .red {
                background-color: red;
            }
            .orange {
                background-color: orange;
            }
            .jaune {
                background-color: yellow;
            }
            .green {
                background-color: green;
            }
            .noire {
                background-color: blueviolet;
            }
            .violet {
                background-color: black;
            }
        }
    }
    
    #adresses li {
        display: inline-block;
        .card-title {
            color: #212629 !important;
            font-weight: normal;
            font-size: 16px;
            margin-right: 2rem;
        }
    }
    
    footer {
        .pt-11,
        .py-11 {
            padding-top: 5rem !important;
        }
        a:hover {
            color: #fff;
            background-color: transparent !important;
        }
    }
    
    #list-proposal {
        th {
            display: none;
        }
        td {
            border: none !important;
        }
    }
    
    #list-proposal_filter {
        label {
            display: inline-flex !important;
        }
        .form-control.form-control-sm {
            width: 200% !important;
        }
        text-align: right;
    }
    
    #list-job_length select,
    #list-proposal_length select,
    #list-proposal_length input {
        display: inline-block;
        width: 70px;
    }
    
    #list-job_filter {
        label {
            width: 100%;
            text-align: right;
        }
        input {
            display: inline-block;
            max-width: 250px;
            margin-left: 5px;
        }
    }
    
    #list-proposal_length {
        input {
            display: inline-block;
            max-width: 250px;
            margin-left: 5px;
        }
    }
    
    .iti {
        width: 100%;
    }
    
    .iti__flag {
        background-image: url("../vendors/intl-tel-input/img/flags.png");
    }
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .iti__flag {
            background-image: url("../vendors/intl-tel-input/img/flags@2x.png");
        }
    }