<p>Salut!</p>
<p>Nous venons de vous envoyer une facture. Veuillez-vous connecter à votre compte pour voir votre facture et confirmer sa réception .</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>