<table id="profiles" class="data-table table-responsive-sm table nowrap" style="width:100%">
  <thead>
      <tr>
        <th>Email</th>
        <th>Date de création</th>
        <th colspan="4">Actions</th>
      </tr>
  </thead>
  <tbody>
    <% @profiles_uncreated.each do |profile| %>
      <tr>
        <td class=""> <%= profile.user.email %></td>
        <td><%= profile.user.created_at %></td>
        <td  colspan="2" class="  ">
          <label class="badge badge-danger">Pas de profile</label>
        </td>
        <!--<td><%#= link_to "Verifier Cv ", user.profile.cv %></td>  -->
      </tr>
    <% end %>
  </tbody>
</table>