<p>Salut <%= @job.owner.nom_societe %> !</p>
<p>La date de fin de votre job <%= link_to @job.poste, job_url(@job)  %>   exécuter par <%= link_to "#{@job.proposal.owner.nom} #{ @job.proposal.owner.prenom}", profile_url(@job.proposal.owner_id)  %>  est passée. Veuillez-vous connecter pour laisser un avis sur ce travailleur.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>