<p>Salutations!</p>
<p>Nous vous avons assigné à un nouveau job : <%= @job.poste%></p>
<p>Cliquez sur le <%= link_to 'lien', job_url(@job) %> pour plus de détails.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>