<p>Salutations!</>
<p>Vous venez de recevoir une note sur votre profil à travers la plateforme NatureTropicale.</p>
<p>Veuillez vous connecter pour donner une note à votre tour si vous n'avez pas encore l'autre profil.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>