body {
    background-color: #fff;
    color: #333;
    margin: 33px;
}

body,
p,
ol,
ul,
td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #fff;
}

th {
    padding-bottom: 5px;
}

td {
    padding: 0 5px 7px;
}

div.field,
div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors label,
.field_with_errors .form-control-feedback,
.field_with_errors .form-control-label,
.field_with_errors .col-form-label,
.field_with_errors .form-check-label,
.field_with_errors .custom-control {
    color: #d9534f;
}

.field_with_errors .form-control {
    border-color: #d9534f;
    border: 1px solid #d9534f;
}

.field_with_errors .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.field_with_errors .form-control-danger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

#error_explanation {
    background: #f2dedd;
    color: #d9534f;
    padding: 2rem;
    margin: 2rem 1rem;
}

td {
    a {
        background: none !important;
    }
}

label {
    display: block;
}

div#region_filter,
div#ville_filter,
div#province_filter,
div#users_filter {
    text-align: right;
    label {
        text-align: left;
    }
}