<h4>Salut <%= @profile.user.worker? ? @profile.prenom : @profile.nom_societe %> !</h4>
<p>Votre compte naturetropicale a été suspendu pour certaines raisons ne répondant pas à notre politique et nos codes d'utilisations. Veuillez contacter l'administrateur <a href="mailto:info@naturetropicale.ca">info@naturetropicale.ca</a> pour des réclamations.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>