<p>Salutations!</p>
<p>Nous venons de vous envoyer un paiement. Veuillez-vous connecter à votre compte pour voir votre fiche de paie et confirmer la réception de notre transaction.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>