<!--<div class="row" id="proBanner">
  <div class="col-12">
    <span class="d-flex align-items-center purchase-popup">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <i class="mdi mdi-close" id="bannerClose"></i>
    </span>
  </div>
</div>-->