<h1 class="text-center mb-5">Créer une Province</h1>

<%= render 'form', admin_location_province: @admin_location_province %>

<p class="text-center my-4"><%= link_to 'Retour', admin_location_provinces_path %></p>
