

<p>
  <strong>Name:</strong>
  <%= @admin_location_province.name %>
</p>

<%= link_to 'Modifier', edit_admin_location_province_path(@admin_location_province) %> |
<%= link_to 'Retour', admin_location_provinces_path%>
