<p>Salutations!</p>
<p><%= @profile.prenom %> <%= @profile.nom %> vient de rejoindre Nature Tropicale!</p>
<p>Veuillez vous connecter en temps sur votre compte administrateur pour vérifier, approuver et/ou refuser ce compte.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>