<table id="users" class="table table-responsive-sm dataTable " style="width:100%">
  <thead>
      <tr>
        <th>Email</th>
        <th>Date de création</th>
        <th>Status</th>
        <th colspan="4">Actions</th>
      </tr>
  </thead>
  <tbody>
    <% @users_unconfirmed.each do |user| %>
      <tr>
        <td class=""> <%= user.email %></td>
        <td><%= user.created_at %></td>
        <!--<td><%#= link_to "Verifier Cv ", user.profile.cv %></td>  -->
        <td  colspan="2" class="  ">
          <label class="badge badge-danger">Nouvel utilisateur</label>
        </td>
        <td class=""><%= link_to('Renvoyer le mail de confirmation', user_confirmation_path(user: {:email => user.email}), :method => :post) %></td>
        <td  colspan="2" class="  ">
         <%= link_to "supprimer", [:admin, user], method: :delete, data: { confirm: "You sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>