
<!-- move the above styles into your custom stylesheet -->

<p class="text-center">It happens. Click the link below to reset your password. It happens. Click the link below to reset your password. It happens. Click the link below to reset your password. It happens. Click the link below to reset your password.</p>
<button class="large expand" href="#">Reset Password</button>