<h2>Bienvenue <%= @resource.email %>!</h2>
<p>Veuillez confirmer votre compte en cliquant sur le lien ci-dessous :</p>
<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @token) %></p>