<div class="container">
    <div class="card-box">
      <h2 class="h4 pd-20">Paiements</h2>
      <table class="data-table table nowrap">
        <thead>
          <tr>
            <th>Entreprise</th>
            <th>Employé</th>
            <th>montant a payé</th>
            <th>status</th>
            <th>actions</th>
          </tr>
        </thead>

        <tbody>
          <%# @proposals.each do |proposal| %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <%# end %>
        </tbody>
      </table>
    </div>
</div>