<section id="validation-page" class="h-100 d-flex align-items-center">
  <div class="container">
    <div class="row ">
      <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8 mx-auto form-box">
        <h2>Inscription réussite! Veuillez s'il vous plait consulter votre boite électronique pour confirmer votre courriel.</h1>
        <p>Besoins d'informations, vous pouvez nous contacter via <a href = "mailto:info@naturetropicale.ca">info@naturetropicale.ca</a></p>
      </div>
    </div>
  </div>
</section>