<h4>Salut <%= @profile.user.worker? ? @profile.prenom : @profile.nom_societe %> !</h4>
<p>Nous sommes heureux de vous informer que votre profil a été activé avec succès. Vous pouvez dès à présent vous connecter et commencer par utiliser la plateforme <a href="https://naturetropicale.ca">Nature Tropicale.ca</a>.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>