<p>Salutations!</p>
<p>Vous venez de recevoir une invitation pour postuler à un job qui pourrait vous intéresser.</p>
<p>Cliquez sur le lien suivant => <%= link_to 'lien', job_url(@job) %> pour avoir plus de détails.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>