<h1 class="text-center my-5">Créer une ville</h1>

<%= render 'form', admin_location_ville: @admin_location_ville %>

<p class="text-center my-4"><%= link_to 'Retour', admin_location_villes_path %></p>
