

<p>
  <strong>Name:</strong>
  <%= @admin_location_ville.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @admin_location_ville.region_id %>
</p>

<%= link_to 'Modifier', edit_admin_location_ville_path(@admin_location_ville) %> | <%= link_to 'Retour', admin_location_villes_path %></p>
