<p>Bonjour <%= @profile.nom %>!</p>
<p>Bienvenue sur Nature Tropicale, la plateforme qui vous permet de travaillez quand vous voulez et de suivre vos revenus en temps réels.</p>
<p>Votre compte est actuellement en cours de validation, veuillez patienter 3 jours ouvrés. Dans le cas où cela doit prendre plus de temps, vous serez contacté. Dans le cas contraire, veuillez nous écrire à info@naturetropicale.ca.</p>
<p>N'oubliez aussi pas d'ajouter ce courriel dans votre liste blanche de messagerie.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>