<p>Salutations!</p>
<p>Vous venez de recevoir une facture.</p>
<p>Veuillez, vous connecter à votre compte pour effectuer le paiement et régulariser votre status.</p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>