<p>Salut!</p>
<p>L'entreprise<%= link_to @user.nom_societe, profile_url(@user)  %> vient de confirmer la paiement sa facture, veuillez vous connecter pour confirmer la réception de cette transaction </p>
<p>Cordialement,</p>
<p>L'équipe Nature Tropicale</p>