<h1 class="text-center">Créer une Region</h1>

<%= render 'form', admin_location_region: @admin_location_region %>

<p class="text-center my-4"><%= link_to 'Retour', admin_location_regions_path %></p>
